venv/
.eggs/
*.egg-info
my-env/
.ignored/
__pycache__/
.vscode/
build/
.env/
.venv/
/target
.py03-env
/data
*.swp
/debian
vendor/
.pybuild/
built/
.cargo/
debian.*/*.substvars
debian.*/*.install
debian.*/*.debhelper
debian.*/*.files
debian.*/cargo_home/
debian.*/debhelper-build-stamp
debian.*/files
