/*
SPDX-FileCopyrightText: © 2023 Tenstorrent Inc.
SPDX-License-Identifier: Apache-2.0
*/

#app_grid {
  layout: grid;
  grid-gutter: 1 1;
}

#tab_container {
  overflow: auto auto;
}

#left_col {
  width: 40;
  column-span: 1;
  dock: left
}

#right_col {
  width: 35;
  column-span: 1;
  dock: right
}

#tt_smi {
  width: 100
}

#host_info {
  height: 12;
}

#helper_menu {
  height: 12;
}
